<template>
  <div class="markup-tables flex">
    <va-card>
      <va-card-title></va-card-title>
      <va-card-content>
        <div class="table-wrapper">
          <table class="va-table va-table--striped va-table--hoverable">
            <thead>
              <tr>
                 <th>Numero</th>
                <th>Telefono</th>
                  <th>Tipo</th>
                 <th>Direccion/nombre</th>
                <th>Total</th>
                <th>Detalle</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            {{}}
            <tbody>
              <tr v-for="(order,index) in ordersObject" :key="order.orderId">
                <td>{{ index }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.type }}</td>
                <td v-if="order.adress">{{ order.adress }}</td>
                 <td v-if="order.name">{{ order.name }}</td>
                <td>{{ order.total }}</td>
                <td>
                  <orderPrint :order="order" :index="index"> </orderPrint>
                </td>
                <td> <va-select
                    v-model="order.status"
                    text-by="description"
                    track-by="id"
                    :options="statusOptions"
                    @update:modelValue="updateStatus($event,order)"
                  /></td>
                <td>acciones</td>
              </tr>
            </tbody>
          </table>
        </div>
      </va-card-content>
    </va-card>
  </div>
</template>
<script setup lang="ts">
  import { ref } from 'vue'
  import { useI18n } from 'vue-i18n'
  import orderPrint from '../../../components/printer/Order.vue'
  import { ConectorPluginV3 } from '../../../components/printer/js/ConectorjavaScript.js'
  const { t } = useI18n()
  const statusOptions = ref([
    {
      id: 1,
      description: 'Nueva',
    },
    {
      id: 2,
      description: 'Esperando Pago',
    },
    {
      id: 3,
      description: 'Cocina',
    },
    {
      id: 4,
      description: 'Lista',
    },
    {
      id: 5,
      description: 'Despachada',
    },
    {
      id: 6,
      description: 'Finalizada',
    },
  ])
  

</script>

<script lang="ts">
  import axios from 'axios'

  //import  useI18n  from 'vue-i18n'
  // const  t  = useI18n()
  export default {
    name: 'Orders',
    data: function () {
      return {
        ordersObject: null,
        loading: true,
        errored: false,
      }
    },

    mounted() {
      axios.defaults.headers.common['Access-Control-Allow-Origin'] = 'http://localhost:3000'
      axios
        .get('https://yke9ju3d8h.execute-api.us-east-1.amazonaws.com/orders')
        .then((response) => {
          this.ordersObject = response.data
          //console.log( JSON.stringify(response.data))
          // console.log(orders)
          console.log(this.ordersObject[0].orderId)
        })
        .catch((error) => {
          console.log('error')
        })


    },

      created () {
        
        this.timer = setInterval(this.fetchEventsList, 30000);
    },
     methods: {
        fetchEventsList () {
        
           axios.defaults.headers.common['Access-Control-Allow-Origin'] = 'http://localhost:3000'
      axios
        .get('https://yke9ju3d8h.execute-api.us-east-1.amazonaws.com/orders')
        .then((response) => {
          this.ordersObject = response.data
          //console.log( JSON.stringify(response.data))
          // console.log(orders)
          console.log(this.ordersObject[0].orderId)
        })
        .catch((error) => {
          console.log('error')
        })

         
        },
        cancelAutoUpdate () {
            clearInterval(this.timer);
        },
        updateStatus (value,order){
          console.log( order.status);
        if(order.status== value.description){
       //    alert("pepe");
         }
         else{
            alert("update");
       }
        }
    },
    beforeUnmount () {
      this.cancelAutoUpdate();
    }
    
  }
</script>
<style lang="scss">
  .modal-anchor {
    display: inline-flex;
  }

  .markup-tables {
    .table-wrapper {
      overflow: auto;
    }

    .va-table {
      width: 100%;
    }
  }
</style>
