<template>
  <va-button class="mr-2 mb-2" color="info" @click="showMediumModal = !showMediumModal"> Ver </va-button>

  <va-modal
    v-model="showMediumModal"
    :title="t('modal.mediumTitle')"
    :ok-text="t('modal.confirm')"
    :cancel-text="t('modal.cancel')"
    @ok="print()"
  >
    <template #header>
      <!-- <img class="ticket"
        src="https://yt3.ggpht.com/-3BKTe8YFlbA/AAAAAAAAAAI/AAAAAAAAAAA/ad0jqQ4IkGE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
        alt="Logotipo"
      />-->

      <p class="centrado">
        JANA GLUTEN FREE
             {{ order.paymentType }}   {{ order.payAmount }}
        <br />
        Telefono: {{ order.orderId }} Direccion: {{ order.adress }}
      </p>
    </template>
    <div class="ticket">
      <table>
        <thead>
          <tr>
            <th class="numero">Numero</th>
            <th class="cantidad">CANT</th>
            <th class="producto">PRODUCTO</th>
            <th class="precio">$$</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in order.cart">
             <td class="cantidad">{{ index }}</td>
            <td class="cantidad">{{ item.qty }}</td>
            <td class="producto">{{ item.name }}</td>
            <td class="precio">{{ item.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </va-modal>
</template>

<script setup lang="ts">
  import { ref } from 'vue'
  import { useI18n } from 'vue-i18n'
  //  import { ConectorPluginV3 } from '/js/ConectorjavaScript.js'
  import { unref } from 'vue'
  const showMediumModal = ref(false)
  const { t } = useI18n()
  withDefaults(
    defineProps<{
      order?: JSON
      showMedium7Modal?: boolean
      index?: number
    }>(),
    {
      order: {},
      showMedium7Modal: false,
      index: 0,
    },
  )
</script>

<script lang="ts">
  export default {

    methods: {
    

      async print() {
        const dateFormat = new Date(this.order.date)

      
        // const impresoras =  ConectorPluginV3.obtenerImpresoras();
        //  console.log(impresoras)
        const amongUsComoCadena =
          '000001111000000010000100000100011110000100100001011100100001010100100001010100100001010100011110010100000010011100000010000100111010000100101010000111101110000000000000000000000000000000000000111010101110100010101000111010101110001010100010111011101110000000000000000000000000000000000000'
        const conector = new ConectorPluginV3()
        const respuesta = await conector
          .Iniciar()
          .DeshabilitarElModoDeCaracteresChinos()
          .EstablecerAlineacion(ConectorPluginV3.ALINEACION_CENTRO)
          .DescargarImagenDeInternetEImprimir(
            'https://cdn.golemcashbox.com/janaglutenfree/IMG/LogoPositvoJana.png',
            0,
            216,
          )
          .EstablecerTamañoFuente(2,2)
          .EstablecerEnfatizado(true)
          .EscribirTexto("Pedido: " + this.index)
          .EstablecerEnfatizado(false)
          .EstablecerTamañoFuente(1,2)
          .Feed(1)
          if(this.order.adress){
          respuesta.EscribirTexto(this.order.adress + '\n')
          }else{
            respuesta.EscribirTexto(this.order.name + '\n')
          }
          respuesta.TextoSegunPaginaDeCodigos(2, 'cp850', 'Tel:' + this.order.phone + '\n')
            .EstablecerTamañoFuente(1,1)
          .EscribirTexto(
              dateFormat.getDate() +
              '/' +
              (dateFormat.getMonth() + 1) +
              '/' +
              dateFormat.getFullYear() +
              ' ' +
              dateFormat.getHours() +
              ':' +
              dateFormat.getMinutes() +
              '\n',
          )
          .Feed(1)
          .EstablecerAlineacion(ConectorPluginV3.ALINEACION_IZQUIERDA)
          .EscribirTexto('________________________\n')
          .EstablecerEnfatizado(true)
           .EstablecerTamañoFuente(1,2)

           

        unref(this.order.cart).forEach(function (x, i) {
          respuesta.EstablecerAlineacion(ConectorPluginV3.ALINEACION_IZQUIERDA)  
           respuesta.EstablecerEnfatizado(true)
           .TextoSegunPaginaDeCodigos(2, 'cp850', x.qty + ' ' + x.name + '\n')
            .EstablecerAlineacion(ConectorPluginV3.ALINEACION_DERECHA)
            .EstablecerTamañoFuente(1,1)
            .EscribirTexto('$' + x.price + '\n')
             .EstablecerTamañoFuente(1,2)
            if (x.detail){
              x.detail.forEach(function (subItem , index2){
             respuesta.EscribirTexto(subItem.name + '\n')
              subItem.values.forEach(function (subValue , index3)
                {
                  if(subValue.cant > 0){
                      respuesta.EscribirTexto(" "  +  subValue.cant + '-' +  subValue.name + "\n");
                  }
                })
              })
           }
        respuesta.EstablecerEnfatizado(false)
        respuesta.EscribirTexto('___________________________\n')
        })
        respuesta.EscribirTexto('Comentarios: \n')
         respuesta.EscribirTexto(this.order.comments +    '\n')
         respuesta.EstablecerAlineacion(ConectorPluginV3.ALINEACION_DERECHA) 
         .EscribirTexto('ENVIO: $' + this.order.totalEnvio + '\n')
          if( this.order.paymentType=="efectivo"){
          respuesta.EscribirTexto('ABONA CON: $' + this.order.payAmount + " ")

          }else{
            respuesta.EstablecerEnfatizado(true)
            respuesta.EscribirTexto('ABONA CON: $' + this.order.paymentType + " ")
          }
          respuesta.EstablecerEnfatizado(true)
          respuesta.EscribirTexto('TOTAL: $' + this.order.total + '\n')
          .EscribirTexto('____________________\n')
          .Corte(1)
          .Pulso(48, 60, 120)
          .imprimirEn('xprinter') 
      },
    },
  }
</script>
<style lang="scss">
  .modal-anchor {
    display: inline-flex;
  }
  * {
    font-size: 12px;
    font-family: 'Times New Roman';
  }

  td,
  th,
  tr,
  table {
    border-top: 1px solid black;
    border-collapse: collapse;
  }

  .ticket {
    max-width: 250px;
  }

  img {
    max-width: inherit;
    width: inherit;
  }
</style>
